body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(https://img.freepik.com/free-vector/indian-digital-rupee-fluid-background-with-text-space_1017-53763.jpg?t=st=1730984310~exp=1730987910~hmac=f0e831c7a12beddbf7fb96ff11481e306d05cbeb24784a03ff0c8353e4c89495&w=1800);
    background-size: auto;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

main {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#payment-message {
    text-align: center;
    margin-top: 20px;
}
